/* styles/RotAnimation.module.css */
.rotContainer {
    position: relative;
    font-size: 60px;
}

.rotElement {
    opacity: 0;
    transform: translateY(-20px);
    /* transition: opacity 1s, transform 1s; */
    display: inline-block;
    position: absolute;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}